// 文档: https://niri-wm.github.io/niri/Configuration:-Introduction.html

include "./binds.kdl"
include "./animation.kdl"
include "./autostart.kdl"

environment {
    QS_ICON_THEME "WhiteSur-dark"
}

// 窗口规则
window-rule {
    match app-id=r#"^kitty$"#
    opacity 0.95
    geometry-corner-radius 10
    clip-to-geometry true
    draw-border-with-background false
}

window-rule {
    match app-id=r#"^(org\.telegram\.desktop|telegram-desktop)$"#
    opacity 0.92
    geometry-corner-radius 10
    clip-to-geometry true
    draw-border-with-background false
}

window-rule {
    match app-id=r#"^(dev\.zed\.Zed|zed)$"#
    opacity 0.95
    geometry-corner-radius 10
    clip-to-geometry true
    draw-border-with-background false
}

window-rule {
    match app-id=r#"^clipse$"#
    open-floating true
    default-column-width { proportion 0.35; }
}

// 输入
input {
    keyboard {
        xkb {}
        numlock
    }

    touchpad {
        tap
        natural-scroll
    }

    mouse {}

    trackpoint {}
}

// 布局
layout {
    gaps 16
    center-focused-column "never"

    // 预设列宽: Mod+R
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }

    focus-ring {
        width 2
        active-color "#7fc8ff"
        inactive-color "#505050"
    }

    border {
        off
        width 2
        active-color "#ffc87f"
        inactive-color "#505050"
        urgent-color "#9b0000"
    }

    shadow {
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }

    struts {}
}

hotkey-overlay {}

layer-rule {
    match namespace=r#"^qs-dynamic-island$"#
    opacity 0.85
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

// Noctalia
window-rule {
    geometry-corner-radius 16
    clip-to-geometry true
}

debug {
    honor-xdg-activation-with-invalid-serial
}

layer-rule {
    match namespace="^noctalia-overview.*"
    place-within-backdrop true
}
